.formbox{
    /* border: 2px solid red; */
    width: 30%;margin: auto;
    margin-top: 200px;
    /* background-color: aqua; */
    /* background-image: url("https://e0.pxfuel.com/wallpapers/504/132/desktop-wallpaper-simple-background-cool-simple-thumbnail.jpg"); */
    background: rgb(179, 224, 246);
    text-align: center;
}
.anchor{
    display: flex;
    justify-content: space-around;
    /* justify-content: space-between; */
}
.formbox h1{
    color: rgb(13, 184, 87);
    font-size: 40px;
}
.input-field{
       margin: 15px 0;
       border-radius: 3px;
       display: flex;
       align-items: center;
       max-height: 40px;
       transition: max-height 0.5s;
       overflow: hidden;
}
input{
    width: 90%;
}
form p{
    text-align: center;
    font-size: 10px;
}
.but-fld{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    justify-content: space-around;
    

}
.but-fld button{
    background-color: rgb(99, 125, 242);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    color: white;
    font-size: 20px;
}
.btn2{
    background-color: gray;
}
body{
    background-color: rgb(148, 148, 233);
}
a{
    color: rgb(201, 53, 19);
    text-decoration: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
body{
    background-image: url("https://cdn.pixabay.com/photo/2018/04/05/14/09/sunflowers-3292932__340.jpg");
}