.formbox{
    /* border: 2px solid red; */
    width: 380px;margin: auto;
    /* margin-top:180px; */
    /* background-color: aqua; */
    /* background-image: url("https://e0.pxfuel.com/wallpapers/504/132/desktop-wallpaper-simple-background-cool-simple-thumbnail.jpg"); */
    background: rgb(237, 243, 236);
    text-align: center;
    /* margin-right:62%; */
    border-radius: 15px;
}
.anchor{
    display: flex;
    justify-content: space-around;
    /* justify-content: space-between; */
}
.formbox h1{
    color: rgb(113, 91, 233);
    font-size: 40px;
}
.input-field{
       margin: 15px 10px;
       border-radius: 3px;
       display: flex;
       align-items: center;
       max-height: 40px;
       transition: max-height 0.5s;
       overflow: hidden;
}
input{
    width: 90%;
}
form p{
    text-align: center;
    font-size: 10px;
}
.but-fld{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    justify-content: space-around;
    

}
.but-fld button{
    background-color: rgb(99, 125, 242);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    color: white;
    font-size: 20px;
    margin-bottom: 10px;
}
.btn2{
    background-color: gray;
}
body{
    background-color: rgb(226, 226, 249);
}
a{
    color: rgb(201, 53, 19);
    text-decoration: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
body{
    background-image: url("https://images.pexels.com/photos/139306/pexels-photo-139306.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500");
    display: flex;
    justify-content: space-between;
    justify-content: space-around;
}
.boooox{
    display: flex;
    gap: 200px;
    margin-top: 100px;
    /* border: solid red; */
}
.boooox img:hover{
    transform: scale(1.1);
}
.boooox img{
    border-radius: 15px;
}